/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Default Styles 
--------------------------------------------------------------------*/
body{
    background: url('../imagen/denim.png');
    font-family: 'Droid Sans', sans-serif;
    padding: 0;
    margin: 0;
    
}
ol, ul {
	list-style: none;
}
.clearfix {
	clear: both;
}
div.wrap {
	width: 940px;
	margin: 0 auto;
}
nav {
	background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
	background-image: linear-gradient(#fff, #ccc);
	border-radius: 6px;
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
	padding: 0 10px;
	position: relative;
}

.menu li {
	float: left;
	position: relative;
}

.menu li a {
	color: #444;
	display: block;
	font-size: 14px;
	line-height: 20px;
	padding: 6px 12px;
	margin: 8px 8px;
	vertical-align: middle;
	text-decoration: none;
}

.menu li a:hover {
	background: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#fff));
	background-image: linear-gradient(#ededed, #fff);
	border-radius: 12px;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
	color: #222;
}

/* Dropdown styles */

.menu ul {
	position: absolute;
	left: -9999px;
	list-style: none;
	opacity: 0;
	transition: opacity 1s ease;
}

.menu ul li {
	float: none;
}

.menu ul a {
	white-space: nowrap;
}

/* Displays the dropdown on hover and moves back into position */
.menu li:hover ul {
	background: rgba(255,255,255,0.7);
	border-radius: 0 0 6px 6px;
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.4);
	left: 5px;
	opacity: 1;
}

/* Persistant Hover State */
.menu li:hover a {
	background: -webkit-gradient(linear, center top, center bottom, from(#ccc), to(#ededed));
	background-image: linear-gradient(#ccc, #ededed);
	border-radius: 12px;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
	color: #222;
}
.menu li:hover ul a {
	background: none;
	border-radius: 0;
	box-shadow: none;
}
.menu li:hover ul li a:hover {
	background: -webkit-gradient(linear, center top, center bottom, from(#eee), to(#fff));
	background-image: linear-gradient(#ededed, #fff);
	border-radius: 12px;
	box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.3);
}
.contenedor1{
    position:relative;
    
    background: url('../imagen/fondo4.jpg') no-repeat;
    height: 1000px;
}
.logo_principal{
    background: url('../imagen/logo-karsam.png') no-repeat;
    background-position: center center;
    /*height: 30%;   */
    height: 390px;
}
.logo_escudo{
    
}
.contenedor2{
    background: url('../imagen/auto1.png') no-repeat bottom center;
    height: 326px;
    margin: 0;
    padding: 0;
    /*position: fixed;*/
    width: auto;
    z-index: auto;
}
.contenedor3{
    background-color: beige;
    text-align: center;
    display: flex;
    padding: 10% 0;
}
.contenedor_parrafo{
    /*color: aliceblue;*/
    color: black;
    margin: 0 auto;
    padding: 10%;
    vertical-align: text-top;
    width: 50%;
}
.contenedor4{
    /*background-color: black;*/
    background-image: url(/imagen/denim.png);
    /*float: none;*/
    
    position: relative;
    text-align: center;
    display: flex;
    padding: 10% 0;
    color: white;
    
    display: flex;
    margin: 0;
}
.contenedor_img{
    float: left;
    margin: 0 auto;
    vertical-align: text-top;
    padding: 10% 0;
    width: auto;
} 
.puntualidad, .seguridad, .seriedad{
    float: left;
    margin: 0 auto;
    vertical-align: text-top;
   /* padding: 10% 0;*/
    width: auto;
}
.puntualidad_parrafo, .seguridad_parrafo, .seriedad_parrafo{
    color: white;
    /*float: right;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    margin: auto;
    text-align: center;
    vertical-align: text-top;
    /*padding: 10% 0;*/
    width:auto;
    
    left: auto;
    top: auto;
}
p{
}
/*estoy ahi que aplicar efecto parallax html5 css3 en el contenedor 1*/
/*https://escss.blogspot.com/2012/05/centrando-al-centro-con-css-16-maneras.html
http://www.lawebera.es/como-hacer/ejemplos-jquery/desplazamiento-animado-en-anclas-de-enlaces-con-jquery.php
https://developer.mozilla.org/es/docs/Web/CSS/CSS_Animations/Usando_animaciones_CSS ok
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations

revizar estas web para poder solucionar el movimiento scroll de la animacion
https://www.uno-de-piera.com/anclas-animadas-con-jquery-usando-offset-scrolltop-y-animate/
http://www.soscreacionesweb.com/blog/jquery-smoove-efectos-al-hacer-scroll-en-tu-contenido
http://jsfiddle.net/Alexis88/Apvm4/
https://github.com/daneden/animate.css
http://www.miguelmanchego.com/2014/jquery-mostrar-animaciones-segun-te-desplazas-por-la-pagina/

*/